<div class="tblRowPanel grayRowPanel">
  <button class="btn btn-control btnCheck">
    <input type="checkbox" class="mail-select" [checked]="checkedAll" (change)="onCheckedAll($event.target.checked)" [title]="checkedAll ? 'Снять отметку' : 'Отметить все'">
  </button>
  <button class="btn btn-control btnDel" [disabled]="getCheckedFlag()" (click)="onDelete()">
    <img src="../../assets/img/del.png" width="21" height="21" title="Удалить"/>
  </button>
</div>
<div class="maillist content">
  <div *ngFor="let item of mailItems | searchmail:searchText; let indexElem = index" class="tblRow" [ngClass]="(indexElem % 2 == 1) ? '' : 'grayRow'">
    <div class="col col_0" (click)="checkElement($event, item)">
      <div><input type="checkbox" [checked]="item?.Checked" class="mail-select"/></div>
    </div>
    <div class="col main" (click)="goToMessage(item?.Id)">
      <div class="col col_1">{{ item.InDate | date:'dd.MM.yyyy HH:mm:ss'}}</div>
      <div class="col col_2">{{ item.User.F }} {{ item.User.I }} {{ item.User.O }} <{{ item.User.Email }}></div>
      <div class="col col_3">{{ item.Subject }}</div>      
    </div>
  </div>  
</div>