<table style="width: 100%;" cellspacing="0" cellpadding="0" border="0">
  <tbody>  
      <tr>
          <td width="170" class="tdWithButton">
              <div class="addCardListElement"><input type="button" class="btnAdd" (click)="onAdd()" value="Добавить"></div>
              <div class="folderlist">
                <div *ngFor="let item of folderList" class="folderItem"><a routerLink="/client/mailbox/{{item.Id}}" routerLinkActive="folderAcitve">{{ item.Name }}</a></div>
              </div>
          </td>
          <td>
            <router-outlet></router-outlet>
          </td>
      </tr>
  </tbody>  
</table>