<table class="tblForAdd" [formGroup]="fullControls">
  <tbody>
    <tr>
      <td class="colTblTxt">Фамилия:</td>
      <td><input class="txtInput" [ngClass]="getClassByStatus(fullControls.controls['familyControl'].status)" formControlName = "familyControl"></td>
    </tr>
    <tr>
      <td class="colTblTxt">Имя:</td>
      <td><input class="txtInput" [ngClass]="getClassByStatus(fullControls.controls['nameControl'].status)" formControlName = "nameControl"></td>
    </tr>
    <tr>
      <td class="colTblTxt">Отчество:</td>
      <td><input class="txtInput" [ngClass]="getClassByStatus(fullControls.controls['secondNameControl'].status)" formControlName = "secondNameControl"></td>
    </tr>           
    <tr>
      <td class="colTblTxt">Пол:</td>
      <td>
        <div style="position: relative;">
        <app-customsex formControlName = "userSex"></app-customsex>
        <div class="msgErrorSex" *ngIf="fullControls.controls.userSex.errors?.validateSex.message!=null">{{fullControls.controls.userSex.errors?.validateSex.message}}</div>
        </div>
      </td>
    </tr> 
    <tr>
      <td class="colTblTxt">Дата рождения:</td>
      <td><input class="txtInput" type="date" [ngClass]="getClassByStatus(fullControls.controls['bDay'].status)" formControlName = "bDay">
        <span class="msgError" *ngIf="fullControls.controls.bDay.errors?.validateBD.message!=null">{{fullControls.controls.bDay.errors?.validateBD.message}}</span>
      </td>
    </tr>            
    <tr>
      <td class="colTblTxt">Email:</td>
      <td><input class="txtInput" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [ngClass]="getClassByStatus(fullControls.controls['email'].status)" formControlName = "email"></td>
    </tr>                
  </tbody>
</table>
<button class="btnSave First" type="submit" [disabled]="!(fullControls.valid && !canDeactivateVal)" (click)="addUser()">
  Сохранить
</button>
<button class="btnSave" type="submit" (click)="moveToParent()">
  Закрыть
</button>
