<table style="width: 100%;" cellspacing="0" cellpadding="0" border="0">
    <tbody>  
        <tr>
            <td width="170" class="tdWithButton">
                <div class="addCardListElement"><input type="button" class="btnAdd" (click)="onAdd()" value="Добавить"></div>
            </td>
            <td>
                <div class="tblRow grayRow">
                    <button class="btn btn-control btnCheck">
                      <input type="checkbox" class="mail-select" (change)="onCheckedAll($event.target.checked)">
                    </button>
                    <button class="btn btn-control btnDel" [disabled]="getCheckedFlag()" (click)="onDelete()">
                      <img src="../../assets/img/del.png" width="21" height="21" title="Удалить"/>
                    </button>
                </div>
                <div class="cardlist content">
                  <app-usercard *ngFor="let item of userCards; let index_elem = index" [indexElem]="index_elem" [user]="item" (userSelected)="selectUserCard($event)"></app-usercard>
                </div>
            </td>
        </tr>
    </tbody>  
</table>
